﻿@keyframes fadein 
{
    from 
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}

@-webkit-keyframes fadein 
{
    from 
    {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    }
}

@keyframes fadeout
{
    from 
    {
        opacity: 1;
    }
    to 
    {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout
{
    from 
    {
        opacity: 1;
    }
    to 
    {
        opacity: 0;
    }
}

@keyframes openoptions
{
    from 
    {
        width: 0;
    }
    to 
    {
        width: 15%;
    }
}

@-webkit-keyframes openoptions
{
    from 
    {
        width: 0;
    }
    to 
    {
        width: 15%;
    }
}

@keyframes closeoptions
{
    from 
    {
        width: 15%;
    }
    to 
    {
        width: 0%;
    }
}

@-webkit-keyframes closeoptions
{
    from 
    {
        width: 15%;
    }
    to 
    {
        width: 0%;
    }
}

@keyframes OpenHighScores
{
    from 
    {
        width: 0%;
        left: 99%;
    }
    to 
    {
        width: 20%;
        left: 79%;
    }
}

@-webkit-keyframes OpenHighScores
{
    from 
    {
        width: 0;
        left: 99%;
    }
    to 
    {
        width: 20%;
        left: 79%;
    }
}

@keyframes CloseHighScores
{
    from 
    {
        width: 20%;
        left: 79%;
    }
    to 
    {
        width: 0%;
        left: 99%;
    }
}

@-webkit-keyframes CloseHighScores
{
    from 
    {
        width: 20%;
        left: 79%;
    }
    to 
    {
        width: 0%;
        left: 99%;
    }
}