﻿html 
{ 
    /*-ms-touch-action: none;*/ /* Direct all pointer events to JavaScript code. */
}
  
html, body
{
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;	
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-content-zooming: none;
    overflow: hidden;
}

body
{
	background-color: #5588FF;
	/*(background-image: url('img/background.png');
	background-repeat:repeat;*/
}

a:link {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */ 

canvas
{
	margin: 0;
	padding: 0;
}

#myCanvasActive
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	border: 3px solid #003388;
	z-index: 2;
}

#myCanvasBackground, #myCanvasBackgroundShadow, #myCanvasActiveShadow
{
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	border: 3px solid #003388;	
}

#myCanvasBackgroundShadow
{
	background-color: rgba(0, 0, 0, 1);
}

#divNextParts
{
	position: absolute;
	display: inline-block;
	height: 95%;
	width: 15%;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
    padding: 0;
    margin: 0;
}

#myCanvasNextParts
{
	height: 95%;
	width: 10%;
}

#divStats
{
	position: absolute;
	left:0;
	width:19%;
	top: 20%;
	height: 29%;	
	color: white;
	text-align: left;
	padding: 2px;
}

#divLevel
{
	position: absolute;
	left:1%;
	width:19%;
	top: 1%;
	height: 29%;	
	color: white;
    font-size:x-large;
	text-align: left;
	padding: 2px;
    font-weight: bold;
    z-index: 3;
}

#imgPause
{
    position: absolute;
    left: 5px;
    top: 35px;   
    z-index: 3; 
}

#imgRestart 
{
    position: absolute;
    left: 70px;
    top: 35px;    
    z-index: 3;
}

.imgButton
{
	position: absolute;	
	padding: 0px;
    border: 0px;
    margin: 0px;
	z-index: 2;
}

#divGameWon
{
	display: block;
	padding: 15px;
	position: absolute;
	text-align: Center;
	top: 5%;
	left: 20%;
	width: 60%;
	z-index: 3;
	background-color: rgba( 200, 225, 225, 0); /*#C8ECEC;*/
	opacity: 0;
	color: white;
}

#divGameWon div
{
	text-align: left; 
	font-size: 26px; 	
	/*font-family: Impact, Charcoal, sans-serif; */
	font-weight: bold; 	
}

#divGameWon table
{
	text-align: left;
	border-collapse: collapse;
}

#divGameWon td
{
	padding: 0 10px;
}

#divMenuButtons 
{
    z-index: 5; 
    display:none; 
    position: absolute; 
    left:0; 
    top: 0; 
    padding: 10px; 
    overflow: hidden; 
    width: 0px; 
    background-color: green; 
    border: 1px solid white;
}

#divHighscores 
{
    z-index: 5; 
    display: none; 
    position: absolute; 
    background-color: green; 
    border: 1px solid white; 
    overflow:hidden; 
    color:white;
}

#divGetName 
{
    display: none; 
    position: absolute; 
    background-color: #0099FF; 
    border: 1px solid white; 
    color: white; 
    padding: 10px; 
    z-index: 6; 
    font-size: 16pt;
}

#divImportCustomLevel 
{
    display: none; 
    position:absolute; 
    left: 100px; 
    top: 100px; 
    background-color: white; 
    z-index: 100;
}

#divMainMenuBackground 
{
    display: none;    
    position: absolute; 
    background-color: rgba(0,0,0,0.75); 
    width: 100%; 
    height: 100%; 
    left: 0px; 
    top: 0px;
    z-index: 7; 
}

#divMainMenu 
{
    position: absolute;
    left: 30%;
    top: 20%;
    width: 70%;
    height: 60%;
    border: 3px solid #5588FF;
    display: none;
    background-image: url(../img/menu_background.png);
    background-size: 100% 100%;
    z-index: 8;
}

#divLevelsMenu 
{
    position:absolute;
    left: 5%;
    top:5%;
    width: 90%;
    height: 90%;
    border: 3px solid white;
    background-color: #5588FF;
    display: none;
    z-index: 9;
    font-family: "Times New Roman", Times, serif;
}

#divLevelsMenuHeader 
{
    color: white;
    font-size:64pt;
    padding: 0px;
}

#divLevelsMenuHeader hr 
{
    border-color: blue;
}

#divLevelsContainer 
{
    width: 100%;
    height: 80%;
    color: white;
}

#divLevelsContainer table 
{
    table-layout: fixed;
    width: 100%;
    height: 100%;    
    border-collapse: separate;
    border-spacing: 25px 10px;
}

#divLevelsContainer td 
{
    font-size:64pt;
    border: 3px solid blue;    
    cursor: default;
    text-align: center;
    vertical-align: middle; 
    width: 15%;
    height: 30%;
}

.divLockedLevel 
{
    background-image: url(./img/locked.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}

#divClickedCell, #divClickedCell2, #divClickedCell3
{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border: 6px solid blue;
    display: none;
    z-index: 100;
}
/*
        background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    overflow: auto;
    z-index: 15;
    */
#divOptions 
{
    background-color: #5588FF;
    position: absolute;   
    display: none;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    color: white;
    margin: 0;
    overflow: hidden;
}

#divOptions hr 
{
    margin: 5px;
}

#divOptionsVolume 
{
    width: 100%;
    padding: 5px;
}

#divOptionsVolume > div 
{
    display: inline-block;
    width: 3.25%;   
    cursor: default;
}

#divOptionsVolume > div > div 
{
    text-align: right !important;
    width: 85%;       
    background-color: white;    
}

.classKeyPad 
{
    text-align: center;  
    display: inline-block;
    border: 1px solid white;
    margin: 5px;
    cursor: default;
    clear: both;
}

.classGraphicsLevel 
{
    display: inline-block; 
    border: 1px solid white;    
    cursor: default; 
    text-align: center;
    margin-right: 5px;
}

#divCloseOptionsButton 
{
    position: absolute; 
    display: inline-block;
    left: 92%; 
    top: 85%; 
    border: 1px solid white; 
    padding: 5px;
    cursor: default;
}

#divHelp
{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    overflow: auto;
    z-index: 15;
}

#divCredits
{
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    text-align: left;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    overflow: auto;
    z-index: 16;
}

#divFireworks 
{
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 17;
}

#divFireworksContainer 
{
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    z-index: 17;
}

#divFireworksMessage 
{
    position: absolute;
    color: red;
    font-weight: bold;
    z-index: 18;
}

#divCredits h3 
{
    border-bottom: 1px solid white;
    width: 50%;
}

.classHelpPage
{
    display: none;
    border: 1px solid white;    
    text-align: left;
}

.classSpanButton 
{
    border: 2px solid white;
    cursor: default;
    padding-left: 3px;
    padding-right: 3px;
    margin: 1px
}

#divLoadingScreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	color: rgba( 200, 33, 33 );
	text-shadow: 0 0 8px #ff3333;
	z-index: 1000;
	text-align: center;
	transition-duration: 1s;
}

#divLoadingScreen div {
	margin-top: calc(20% - 24px);
	font-size: 48px;
	font-weight: bold;
}

#divLoadingScreen div span {
	animation-name: dots;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
}

.dot1 {
	animation-delay: 0.1s;
}
.dot2 {
	animation-delay: 0.2s;
}
.dot3 {
	animation-delay: 0.3s;
}

@keyframes dots {
	0% { opacity: 0; }
	50% { opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}